[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
djangorestframework = "*"
djoser = "*"
django = "==4.2"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.10"
